.product-card {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 221px;
  height: 420px;
  padding: 4px 4px 20px 4px;
  margin: 0 10px 30px 10px;
  border-radius: 4px;
  background-color: var(--secondary-bk-color);
}
.product-card a:hover, .product-card a:focus{
    text-decoration: none;
}

.product-body-card {
  padding: 8px;
}

.product-card h3 {
  margin: 8px 0;
  color: var(--text-color);
}

.img-product {
  border-radius: 4px;
  width: 213px;
  height: 194px;
  overflow: hidden;
  background-color: #fff;
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.product-card p {
  text-align: left;
  line-height: 24px;
  margin: 5px 0 10px 0;
  font-family: var(--body-font);
  color: var(--text-color);
}
.title-product-card {
  height: 23px;
  overflow: hidden;
}

.description-product-card {
  height: 96px;
  overflow: hidden;
}

.product-card p.product-card-price {
  font-size: var(--bigger-text);
  display: flex;
  align-items: flex-start;
}

.product-card p.product-card-price span {
  font-size: var(--small-text);
  line-height: 18px;
  padding-left: 2px;
}
