.shopping-cart-content {
  padding: 100px 50px 80px 50px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}

.shopping-cart-list {
  margin: 20px auto;
  width: 100%;
}

.shopping-cart-list th {
  padding: 10px 20px 20px 20px;
  font-weight: normal;
  border-bottom: 1px solid var(--accent-color);
}

.shopping-cart-list thead tr td {
  padding: 10px 20px;
  height: 100px;
}
.shopping-cart-list tr:first-child td {
  padding-top: 20px;
}

.shopping-cart-list tr:last-child td {
  padding-bottom: 20px;
}
.empty-cart {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.empty-cart h2 {
  font-size: 2em;
}
.comercio-chino-icons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'comercio-chino-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.empty-cart i {
  display: block;
  font-size: 150px;
}
@media screen and (max-width: 767px) {
  .shopping-cart-list thead {
    display: none;
  }
  .shopping-cart-list tr:nth-child(even) {
    background-color: #272727;
  }
  .shopping-cart-list tr td {
    display: block;
    padding: 20px 20px 10px 20px;
  }
  .shopping-cart-list tr td:last-child {
    padding-bottom: 40px;
  }
  .shopping-cart-list tr td::before {
    clear: both;
    content: attr(data-head);
    display: block;
    font-weight: bold;
    width: 100%;
    font-size: 16px;
    padding-bottom: 10px;
  }
}
