button + button {
  margin-left: 16px;
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--body-text);
  border-radius: 8px;
  padding: 0 20px;
  height: 42px;
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-appearance: button;
}

.btn-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--body-text);
  border-radius: 8px;
  padding: 0 20px;
  height: 42px;
  background-color: var(--bk-body-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
  outline: none;
  -webkit-appearance: button;
}

.btn-only-icon {
  border: none;
  appearance: none;
  background: none;
  color: var(--primary-color);
  cursor: pointer;
  line-height: 0;
  margin: 0;
  padding: 4px 2px;
}

button.btn-only-icon i {
  padding-right: 0;
}

button i {
  padding-right: 10px;
}

.btn-100 {
  width: 100%;
}

.btn-search-header-clear {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 24px;
  z-index: 1;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-search-header-clear i {
  font-size: 22px;
  color: var(--accent-color);
}

.btn-search-header-clear:hover i,
.btn-search-header-clear:focus i {
  color: var(--primary-color);
}
.btn-model-window::after {
  font-family: 'Material Icons';
  content: '\e313';
  font-size: 22px;
  margin-left: 8px;
}
