.main-content-admin {
  padding: 66px 0px 0px 0px;
  display: flex;
  flex-wrap: nowrap;
}

.tools-admin {
  flex-grow: 1;
  max-width: 110px;
  background-color: #9c9cfd;
  background-color: var(--bk-body-color);
  border-right: 1px solid var(--accent-color);
}

.content-admin {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  padding-bottom: 80px;
  justify-content: space-between;
}
