@font-face {
  font-family: 'comercio-chino-icons';
  src: url('/fonts/comercio-chino-icons.eot?aixj7n');
  src: url('/fonts/comercio-chino-icons.eot?aixj7n#iefix') format('embedded-opentype'), url('/fonts/comercio-chino-icons.ttf?aixj7n') format('truetype'), url('/fonts/comercio-chino-icons.woff?aixj7n') format('woff'), url('/fonts/comercio-chino-icons.svg?aixj7n#comercio-chino-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}



/*tema*/

:root {
  /*font family*/
  --title-font: 'Roboto Condense', sans-serif;
  --body-font: 'Roboto', sans-serif;
  /*font-sizes*/
  --title-text: 22px;
  --body-text: 16px;
  --x-bigger-text: 28px;
  --bigger-text: 22px;
  --medium-text: 18px;
  --small-text: 14px;
  /*spacing*/
  --base: 0.25rem;
  --body-width: 50rem;
  --small-size: calc(var(--base)*2);
  --medium-size: calc(var(--base)*4);
  --big-size: calc(var(--base)*8);
  --large-size: calc(var(--base)*12);
  /*LIGHT THEME*/
  --light-text-color: #303030;
  --light-primary-color: #ff2832;
  --light-accent-color: #919191;
  --ligh-link-color: #0000ee;
  --light-body-bk-color: #FFF;
  --light-primary-bk-color: #FFF;
  --light-secondary-bk-color: #ECEFF1;
  --light-link-color: #0000ee;
  /*DARK THEME*/
  --dark-text-color: #f0f0f0;
  --dark-primary-color: #ff2832;
  --dark-accent-color: #919191;
  --dark-link-color: #8e8eff;
  --dark-body-bk-color: #3c3c3c;
  --dark-primary-bk-color: #3c3c3c;
  --dark-secondary-bk-color: #535353;
}

.light,
.light>* {
  --primary-color: var(--light-primary-color);
  --accent-color: var(--light-accent-color);
  --bk-body-color: var(--light-body-bk-color);
  --primary-bk-color: var(--light-primary-bk-color);
  --secondary-bk-color: var(--light-secondary-bk-color);
  --text-color: var(--light-text-color);
  --link-color: var(--light-link-color);
}

.dark,
.dark>* {
  --primary-color: var(--dark-primary-color);
  --accent-color: var(--dark-accent-color);
  --bk-body-color: var(--dark-body-bk-color);
  --primary-bk-color: var(--dark-primary-bk-color);
  --secondary-bk-color: var(--dark-secondary-bk-color);
  --text-color: var(--dark-text-color);
  --link-color: var(--dark-link-color);
}


/*UTILIDADES*/

.color-primary {
  color: var(--primary-color);
}

.block {
  display: block;
}
.none {
  display: none !important;
}

.flex {
  display: flex;
}
.width100{
  width: 100%;}

/*RESET & UTILITIES*/

body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}
.botonera-form {
  flex: 0 0 100%;
  padding: 0 10px;
}
.main-content {
  padding: 66px 50px 80px 50px;
  display: flex;
  flex-wrap: wrap;
}